@model NotesUsers.Models.NoteViewModel
@{
    ViewData["Title"] = "Информация о сайте UserNotes";
}
<h1>@ViewData["Title"]</h1>

<p> Добро пожаловать на сайт UserNotes. На этом сайте вы можете хранить свои записи удалённо.</p>
<br>
<input type="button" onclick="history.back();" value="Вернуться назад" />
